<script>
  setTimeout(() => Turbo.visit(window.location.href, { action: "replace" }), 150000);
</script>

<h1>Team <%= @team[:number] %> - <%= @team[:name] %></h1>

<div class="row">
  <div class="col-md-6">
    <h2>Matches</h2>
    <% if @matches.any? %>
        <% @matches.each do |match| %>
        <div class="card mb-3">
          <div class="card-header"><a href="/matches/<%= match[:code] %>"><%= match[:code].split('_').last %></a></div>
          <div class="card-body">
            <div class="row text-center align-items-center mb-1">
              <div class="col-6">
                <h4>Red Alliance</h4>
                <div class="row" style="background-color: #ff000016">
                  <% @all_plays.where(match_code: match[:code], alliance: 'red').each do |play| %>
                    <div class="col <%= "fw-bolder" if play[:team_number].to_s == @team[:number].to_s %>"><%= play[:team_number] %></div>
                  <% end %>
                </div>
              </div>
              <div class="col-6">
                <h4>Blue Alliance</h4>
                <div class="row" style="background-color: #0000ff16">
                  <% @all_plays.where(match_code: match[:code], alliance: 'blue').each do |play| %>
                    <div class="col <%= "fw-bolder" if play[:team_number].to_s == @team[:number].to_s %>"><%= play[:team_number] %></div>
                  <% end %>
                </div>
              </div>
            </div>

            <% actual = JSON.parse(match[:real_results]) %>
            <% if actual[:winner] %>
              <div class="row text-center align-items-center">
                <div class="col-5">
                  <%= actual['red_score']%>
                </div>
                <div class="col-2">
                  <div><em>final</em></div>
                  <%= actual['winner'] %> won
                </div>
                <div class="col-5">
                  <%= actual['blue_score'] %>
                </div>
              </div>
            <% else %>
              <% prediction = JSON.parse(match[:prediction]) %>
              <div class="row text-center align-items-center bg-dark text-light">
                <div class="col-5">
                  <%= prediction['red_score']%>
                </div>
                <div class="col-2">
                  <div><em>predicted</em></div>
                  <%= prediction['winner'] %> to win
                </div>
                <div class="col-5">
                  <%= prediction['blue_score'] %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <% end %>
    <% else %>
      <div>No matches found for team <%= @team[:number] %>.</div>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2>Notes</h2>
    <ul>
      <% @notes.each do |note| %>
        <li><%= note[:content] %></li>
      <% end %>
    </ul>

    <h2>Photos</h2>
    <div class="row">
      <% @photos.each do |photo| %>
        <div class="col-6 col-md-3 mb-3">
          <a href="/uploads/<%= photo[:filename] %>" target="_blank">
            <img src="/uploads/<%= photo[:filename] %>" alt="Photo for team <%= @team[:number] %>" class="img-fluid">
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
