
<h1>Indiana Teams</h1>
<% @teams.each do |team| %>
  <h2><%= team[:number]%>-<%= team[:name] %></h2>
  
  <% notes = DB.from(:notes).where(team_number: team[:number]) %>
  <% notes.each do |note| %>
    <h4><%= note[:team_number] %> <%= note[:content] %><h4>
  <% end %>

  <% photos = DB.from(:photos).where(team_number: team[:number]) %>
  <% photos.each do |photo| %>
    <h4><%= photo[:team_number] %> <img src="<%= photo[:filename] %>"><h4>
  <% end %>
<% end %>
